@model Student
   <form asp-controller="Student" asp-action="Create" method="post">
       <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Name">Full Name</label>
        <input type="text" class="form-control" id="Full Name"name="Name"  placeholder="Enter Name">
       <span asp-validation-for="Name"class="text-danger"></span>
    </div>
@*<div class="form-check"inline>
        <input type="checkbox" class="form-check-input" id="Gender" name="Gender"value="Male">
        <label class="form-check-label" for="Male">Male</label>
    </div> 
    <div class="form-check"inline>
        <input type="checkbox" class="form-check-input" id="Gender" name="Gender"value="Female">
        <label class="form-check-label" for="Female">Female</label>
    </div>

    <div class="form-check"inline>
        <input type="checkbox" class="form-check-input" id="Gender" name="Gender"value="others">
        <label class="form-check-label" for="Other">other</label>
    </div>
 *@
    <div class="form-group">
        <label asp-for="Gender">Program</label>
        <select asp-for="Gender"asp-items="Html.GetEnumSelectList<Gender>()"name="Gender" class="form-select">
            <option value="">select</option>
        </select>
    </div>
    <span asp-validation-for="Gender" class="text-danger"></span>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
